
img {
	width: 100%;
	float: center;
	display: block;
	margin: auto;
}

.biopic {
	border-radius: 35%;
	width: 270px;
	float: right;
	display: inline;
	margin-top: 30px;
	margin-right: -275px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif; }

h1 {
  font-family: 'Niconne', cursive;
  font-size: 5rem;
  text-align: center;
  margin: 75px auto 10px auto;
  color: #a25150;
  text-shadow: 2px 2px #fefff1; }

h2 {
  font-family: 'Raleway', sans-serif; 
  margin: 20px auto 40px auto;
  font-size: 1.55rem; 
  text-align: center;
  color: #4C3114; }

h3 {
  font-family: 'Raleway', sans-serif; 
  margin-top: 50px;
  margin-left: -120px;
  font-size: 2rem;
  margin-bottom: 20px; 
}

h4 {
  font-family: 'Raleway', sans-serif; 
  }

p {
font-family: 'Raleway', sans-serif; 
  margin-left: -200px;
  font-size: 1.5rem; 
  text-align: left;
  color: #4C3114; 
  display: inline-block;
  padding-right: 40px;
}

a {
  cursor: pointer; }

ul {
  list-style: none; }

.nav-container {
  background-color: #fefff1;
  width: 100%;
  position: fixed;
  left: 0px; }

nav {
  text-align: center;
  width: 640px;
  margin: 0px auto; }
  nav ul {
    padding: 0px; }
  nav li {
    width: 24%;
    display: inline-block; }
    nav li a {
      font-size: 15px;
      color: #ffa2a1; }
    nav li a.active {
      color: #a25150;}
    nav li a:hover {
    	color: #e893ba;
    }

  @media screen and (max-width: 640px) {
    nav {
      width: 90%; }
      nav li a {
        font-size: 18px; } }

section {
  padding-top: 40px;
  height: 700px;
  width: 100%; 
	background: url('../img/bg1.png');}
  section .content {
    margin: 0px auto;
    max-width: 640px; }
    @media screen and (max-width: 640px) {
      section .content {
        width: 90%; } }
    section .content a {
      color: #002e40; }

section:nth-child(odd) {
  background: url('../img/bg2.png');
  color: #fefff1; }
  section:nth-child(odd) a {
    color: #fefff1; }
.bottom-link {
  margin-top: 80px;
  font-style: italic; }

.gist-meta {
  display: none; }

.file-data {
  font-size: 14px; }















